.moreGraduateForm, .addEmpForm, .editEmpForm, .addUnitForm, .editUnitForm, .addGraduateForm, .editPageForm, .editUserForm{
    margin: 0 auto;
    width: 650px;
}

.errorField{
    background: rgba(255, 173, 173, 0.5);
}

.alert-success, .alert-warning, .alert-danger{
    z-index: 9999;
    position: fixed;
    top: 25px;
    left:50%;
    transform:translate(-50%);
}

.dbList{
    margin: 0 auto;
}
.recordRow{
    cursor: pointer;
}

.video{
    outline: none;
}

img{
    max-height: 300px;
}

/* Стилизация выпадающей кнопки */
.dropbtn {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    height: 100%;
    border: none;
    cursor: pointer;
  }
  
  /* Контейнер <div> - необходимо разместить выпадающий контент */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Выпадающий контент (скрыт по умолчанию) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Ссылки внутри выпадающего */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Изменить цвет выпадающих ссылок при наведении */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Показать выпадающее меню при наведении */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Изменить цвет фона кнопки выпадающего списка, когда отображается содержимое выпадающего списка. */
  .dropdown:hover .dropbtn {
    background-color: #ddd;
  }

  .modalAddHref, .modalAddUser{
    z-index: 999;
    background-color: #fff;
    position: fixed;
    max-width: 500px;
    top: 20px;
    left: 50%;
    margin-left: -250px; /* Negative half of width. */
    box-shadow: 0px 8px 16px 10px rgba(0,0,0,0.3);
    max-height: 90vh;
    overflow: auto;
  }

  #blockBackground{
    z-index: 998;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.5);
  }

  .bi.bi-x-circle{
    position: absolute;
    right: 4px;
    top: 2px;
  }

  .table-btn{
    max-width: 42px;
  }

  td{
    vertical-align: middle;
  }